# elisp compile files
*.elc
*/*.elc

# temp files
*~
*/*~

# Auto-save 
auto-save-list/

# ELPA archives folders
elpa/archives/*

# Cask temp
.cask/

# python env
.python-environments/

tutorial/

markdown/

package_manual/